body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: #d8dbd8;
}

.bill .container .tab-content{
	background:#f3f3f4;
	margin: 0 -20px;
	position: relative;
	min-height: 660px;
}

.bill .container hgroup{
	text-align: center;
	margin-top:50px;
}

.bill .container h1,
.bill .container h2{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 24px;
}

.bill .accordion{
	padding: 40px;
}

.bill .tab-pane.active{
	background: #fff;
	position: absolute;
	top: 119px;
	width: 578px;
	min-height: 490px;
	background: #f5f9f5;
	border: 1px solid #9fbe9b;
	border-right: 0;
	padding: 20px 20px;
}

.bill .tab-pane.active h2,
.bill .tab-pane.active p{
	padding: 0 23px; 
}

/* Responsive*/
@media (min-width: 1200px) {
	.bill .tab-pane.active{
		width: 748px;
	}
}
/* End Responsive*/

#billForm{
	display: none;
}

.bill ul#stages{
	width: 60px;
	margin: 60px 0 0;
}

.bill ul#stages a{
	padding: 0;
	text-indent: -200%;
	display:block;
	overflow: hidden;
	min-width: 58px;
	min-height: 58px;
	border: #aaa solid 1px;
	border-radius: 0;
	margin-bottom:0;
}

.bill div.tabbable{
	margin-right:0;
}

/* side bar*/
.sidebar-nav {
  padding: 9px 0;
}
.sidebar h3{
	background-color:#898989;
	font-size:16px;
	padding-right:5px;
	color:#ffffff;
}
.sidebar strong{
	display: block;
    line-height: 0.7em;
    padding-top: 4px;
}
.sidebar span{
	color:#898989;
	display: block;
}
.profile{
	font-size:15px;
}
.sidebar li{
	
    border-bottom: 1px solid #EEEEEE;
    clear: both;
    list-style: none outside none;
}
.sidebar li img{
	float: right;
	margin-left:10px;
}
.sidebar ul{
	margin:0;
}
.sidebar li span{
	display: block;
    padding-bottom: 3px;
}
.sidebar > div{
	float: right;
    margin-bottom: 20px;
    width: 100%;
	background-color:#eeeced;
}
.sidebar-container-link{
	font-size:15px;
}
.sidebar-container-link-li{
	padding-right:5px;
}
.public-debate-link-container{
	width:50%;
	float:right;
}
.public-debate-link{
	padding-right:44px;
}
.public-debate-link #span{
	display:block;
}
#comments{
	background: url("../../../img/comments.png") no-repeat scroll right top transparent;
    display: block;
    height: 45px;
}
#links{
	background: url("../../../img/links.png") no-repeat scroll right top transparent;
    display: block;
    height: 45px;
}
#embeds{
	background: url("../../../img/embeds.png") no-repeat scroll right top transparent;
    display: block;
    height: 45px;
}
#following{
	background: url("../../../img/following.png") no-repeat scroll right top transparent;
    display: block;
    height: 45px;
}
